body {
    height: 100%;
    width: 100%;
    background-image: url('https://unsplash.com/photos/ZDNyhmgkZlQ');
  }
.masthead {
    height: 100%;
    background-image: url('https://unsplash.com/photos/ZDNyhmgkZlQ');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }