<!DOCTYPE html>
<html lang="en">

    <head>

 <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N5D86R6');</script>
    <!-- End Google Tag Manager -->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- BootStrap -->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta name="description" content="Ad Auris's narrations: Instant narrations for all of your written content">
    
        <title>Ad-Auris</title>
    
        <!-- jQuery and JS bundle w/ Popper.js -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <!-- Custom CSS-->

        <link rel="stylesheet" href="../static/css/iframe_display.css">       
    </head>
<body>
   <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5D86R6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    

        <!-- Section Title -->
        <section>
            <div class="container p-5">
                
              <!-- For Widget Title -->
              <div id="widget-title" class="row mb-5 text-center text-white">
                <div class="col-lg-10 mx-auto">
                  <h1 class="display-4">Ability Magazine</h1>
                </div>
              </div>
            <!-- Full Page Intro -->
         <div class="view">
            <!-- Mask & flexbox options-->
            <div class="mask gradient-card align-items-center">
              <!-- Content -->
              <div class="container d-flex justify-content-center my-4">
        
                <div id="mobile-box" class="container-fluid">
                        
                  <!-- Card -->
                  <div class="card">
        
                    <!-- Card image -->
                    <div class="view">
                      <img id="banner" class="card-img-top" src="https://storage.googleapis.com/ad-auris-django-bucket/media/Ability-Magazine-Logo.jpg"
                        alt="Card image cap">
                      <a href="https://rebit.org.in/" target="_blank">
                        <div class="mask gradient-card"></div>
                      </a>
                    </div>
        
                    <!-- Card content -->
                    <div class="card-body text-center">

                      <h5 id= "audio-version-title" class="h5 font-weight-bold">Listen to the AI Narration!</h5>
                      <h1 class="mb-0"><b>A Doll Like Me</b></h1>
        
                      <audio id="music" preload="true" controls controlslist="nodownload" class=" rounded">
                        <source src="https://storage.googleapis.com/ad-auris-django-bucket/media/A%20Doll%20Like%20Me%20mp3%20%20-%202020-12-05%2C%205.57%20PM.mp3" type="audio/mp3">
    
                      </audio>
                      <h5 class="mb-0"><b>Total Listening Time 21:21</b></h5>
                      <p class="text-center">Feedback?<a href="https://forms.gle/KN1RdM4wo5eXHMVs8" target="_blank"> Click Here</a></p>
        
                    </div>
        
                  </div>
                  <!-- Card -->
                  <p class="text-center" ><b style="color: #015529">ABILITYSpeaks </b>Powered By <a href="https://www.ad-auris.com/" target="_blank">Ad Auris</a></p>
        
        
                </div>
              </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Section Title -->
        </div>
        
        </section>
          <!-- Full Page Intro -->
          <body class="d-flex flex-column">
            <div id="page-content">
              <div class="container text-center">
                <div class="row justify-content-center">
                  <div class="col-md-7">
                    <h1 class="font-weight-light mt-4 text-white"></h1>
                    <p class="lead text-white-50"></p>
                  </div>
                </div>
              </div>
            </div>
            <footer id="sticky-footer" class="py-4 bg-light text-black-50">
              <div class="container text-center">
                <p></p>
                <p class="text-center">www.abilitymagazine.com | Powered By <a href="https://www.ad-auris.com/" target="_blank">Ad Auris</a></p>
                <small>Copyright &copy; Ad-Auris</small>
              </div>
            </footer>
          </body>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Required JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
</body>

</html>