<!DOCTYPE html>
<html lang="en">

    {% include 'navbar.html' %}
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5D86R6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% include "head.html" %}

    {% block content %} 
    {% include "footer.html" %}
    {% endblock %}
    {% include "scripts.html" %}
    
</body>
{% include "footer.html" %}
</html>