<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ad Auris</title>
</head>
<body style='background-color: gray;'>
  <iframe style="width: 80%; height: 200px;" src="ability-test.html"></iframe>
  <iframe style="width: 80%; height: 300px;" src="ability-test.html"></iframe>
  <iframe style="width: 80%; height: 400px;" src="https://ad-auris-narrations.herokuapp.com/ability-test"></iframe>

  <iframe style="width: 80%; height: 300px;" src="https://ad-auris-narrations.herokuapp.com/ability-magazine/a-doll-like-me"></iframe>
  <iframe style="width: 80%; height: 300px;" src="https://ad-auris-narrations.herokuapp.com/ability-magazine/interview-with-mandy-harvey"></iframe>
  <iframe style="width: 80%; height: 300px;" src="https://ad-auris-narrations.herokuapp.com/ability-magazine/interview-with-nancy-silberkleit-ceo-of-archie-comics-co"></iframe>
  <iframe style="width: 80%; height: 300px;" src="https://ad-auris-narrations.herokuapp.com/ability-magazine/ian-harding"></iframe>
  <iframe style="width: 80%; height: 300px;" src="https://ad-auris-narrations.herokuapp.com/ability-magazine/the-wikipedia-foundation"></iframe>

</body>
</html>