{% extends 'rebit_5_base.html' %}

{% block content %}
<body>
<section class="info">
   
  </section>
  
  <section class="cards-wrapper">
    <div class="card-grid-space">
      <div class="num">Cyber Pulse Narration</div>
      <a class="card" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://pbs.twimg.com/profile_images/1128268751567249409/orSCuy_k_400x400.png)">
        <div>
          <h1>Cyber Pulse Narration</h1>
          <p>Cyber Pulse - November 2020 Issue</p>
          <div class="date">Nov, 13, 2020</div>
          <div class="tags">
            <div class="tag">Powered by Ad-Auris</div>
          </div>
        </div>
        
      </a>
      
    </div>
    

  </section>

</body>
  {% endblock content %}