{% extends 'rebit_6_base.html' %}

{% block content %}

   
      <!-- For Widget Title -->
      <div class="row mb-5 text-center text-white">
        <div class="col-lg-10 mx-auto">
          <h1 class="display-4">Cyber Pulse Narrations</h1>
        </div>
      </div>
    <div class="container">
      <div class="square">
        <img src="static\images\rebit-logo-01_0.jpg" class="mask">
     <div class="h1">Cyber Pulse Narrations</div>
        <p>Cyber Pulse Newsletter - November 2020 Issue</p>
        
     <div><audio id="music" preload="true" controls controlsList="nodownload">
        <source src="static\audio\audiotest.mp3" type="audio/mp3">
            <source src="static\audio\audiotest.wav" type="audio/wav">
      </audio><p class="text-center">Powered By <a href="https://www.ad-auris.com/" target="_blank">Ad-Auris</a></p></div>
      </div>
      
      
      </div>
      
        
    </div>
 
  
  {% endblock content %}
  
  
  
  
  
