{% extends 'base.html' %}

{% block content %}
    <!-- <h1>{% block title %} Rebit Audio Tool {% endblock %}</h1> -->
    
    
    <section>
        
        <div class="container p-5">
            
          <!-- For Widget Title -->
          <div class="row mb-5 text-center text-white">
            <div class="col-lg-10 mx-auto">
              <h1 class="display-4">Rebit Newsletter Narrations</h1>
              <p class="lead">Powered by Ad-Auris</p>
            </div>
          </div>
          <!-- End -->
      
      
          <div class="row">
            <div class="col-lg-5 mx-auto">
              <div class="p-5 bg-white shadow rounded-lg"><img src="static\images\rebit-logo-01_0.jpg" alt="" width="250" class="d-block mx-auto mb-4 rounded-pill">
      
                <!-- Default bootstrap file upload-->
      
                <h6 class="text-center mb-4 text-muted">
                  Ad Auris Dashboard Turtorial by Logan Underwood
                </h6>
                <audio preload="auto" controls src="static\audio\audiotest.mp3" type="audio/mp3"></audio>
            
 
              
              
                <!-- End -->
      
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}


