{% extends 'rebit_cyberpulse_dec_base.html' %}
{% block content %}
<!-- Hero starts here -->
<div class="hero">
  <div class="alpha-bg"></div>
  <div class="center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <img alt="Bootstrap Image Preview" src="static\images\rebit-logo-01_0.jpg" class="rounded" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="text-center">
            Cyber Pulse Narration
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
           <span class="badge badge-default">Cyber Pulse Narration</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

      </div>
  </div>
</div>
{% endblock content %}
