{% extends 'rebit_cyberpulse_dec_base.html' %}
{% block content %}
<section>
<div class="container fluid">
  <div class="justify-content-center">
      <div class="col-md-8 ">
          <!-- Column content -->
        
          <!-- Company Logo -->
          
          <div class="row">
            <div>
              <img class="mx-auto d-block" src="static\images\rebit-logo-01_0.jpg" alt="...">
            </div>
          </div>
     
          <!-- End Company Logo -->

          <!-- Widget Title -->
          <div class="row">
            <div>
              <h1>Cyber Pulse Narrations</h1>            
            </div>
          </div>
         
        <!-- End Widget Title -->
           <!-- Audio Player -->
           <div class="row">
            <div>
              <audio id="music" preload="true" controls controlsList="nodownload">
                <source src="https://storage.googleapis.com/ad-auris-tts-app/internal-tts-files/Cyber%20Pulse%20-%20November.mp3" type="audio/mp3">
              </audio>
            </div>
          </div>
     
       
        <!-- End Audio Player -->

          <!-- End Column content -->
      </div>
  </div>
</div>

</section>



 <!-- Footer -->
<div class="footer">
  <p class="text-center" color="black">Feedback?<a href="https://forms.gle/KN1RdM4wo5eXHMVs8" target="_blank"> Click Here</a></p>
</div>

{% endblock content %}
