{% extends 'rebit_main_base.html' %}

{% block content %}
 <!-- Full Page Intro -->
 <div class="view">
    <!-- Mask & flexbox options-->
    <div class="mask gradient-card align-items-center">
      <!-- Content -->
      <div class="container d-flex justify-content-center my-4">

        <div id="mobile-box">

            <h4 class="my-5 h5 text-center" style="color:rgb(235, 232, 234)"> <a href="https://www.ad-auris.com/" target="_blank">Powered by Ad-Auris<i class="fas fa-play ml-2"></a></i></i></h4>
            
          <!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view">
              <img class="card-img-top" src="static\images\cyberpulse.jpg"
                alt="Card image cap">
              <a href="https://rebit.org.in/" target="_blank">
                <div class="mask gradient-card"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body text-center">

              <h5 class="h5 font-weight-bold"><a href="https://rebit.org.in/" target="_blank">ReBIT</a></h5>
              <p class="mb-0">Cyber Pulse October 2020</p>

              <audio id="music" preload="true" controls controlsList="nodownload">
                <source src="static\audio\audiotest.mp3" type="audio/mp3">
                    <source src="static\audio\audiotest.wav" type="audio/wav">
              </audio>
            

            </div>

          </div>
          <!-- Card -->


        </div>
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
{% endblock content %}
