{% extends 'base.html' %}

{% block content %}
    <!-- <h1>{% block title %} Rebit Audio Tool {% endblock %}</h1> -->
    <!-- <iframe width="100%" height="120" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&feed=%2Fvarun-deva-sharma%2Fad_auris_test%2F" frameborder="0" ></iframe> -->
    <!-- <audio class="embed-responsive-item" controls="controls" id="audio_player" preload="auto"> <source src="assets\audio\audiotest.mp3" type="audio/mp3"></audio> -->
        
    
    <section>
        
        <div class="container p-5">
            
          <!-- For demo purpose -->
          <div class="row mb-5 text-center text-white">
            <div class="col-lg-10 mx-auto">
              <h1 class="display-4">Rebit Newsletter Narrations</h1>
              <p class="lead">Powered by Ad-Auris</p>
            </div>
          </div>
          <!-- End -->
      
      
          <div class="row">
            <div class="col-lg-5 mx-auto">
              <div class="p-5 bg-white shadow rounded-lg"><img src="static\images\rebit-logo-01_0.jpg" alt="" width="200" class="d-block mx-auto mb-4 rounded-pill">
      
                <!-- Default bootstrap file upload-->
      
                <h6 class="text-center mb-4 text-muted">
                  Ad Auris Dashboard Turtorial by Logan Underwood
                </h6>
            

                <audio class="embed-responsive-item" preload="auto" controls src="static\audio\audiotest.mp3" type="audio/mp3"></audio>
              
                <!-- End -->
      
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}


